
@media screen and (min-width: 305px ) and (max-width: 850px) {
    body {
        /*width: 100%;
        Set the width in px and the margin out*/
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        /*align-items: center;*/
        /*position: absolute;*/
        /*flex-wrap: wrap;*/
        /*margin: auto;*/
        /*/*display: inline-block;*/
        /*justify-content: space-between;*/
        /*padding: 0 .5em;*/
    }
    h1 {
        text-align: center;
    }
    .alert-info{
        margin-top: 1em;

        text-align: center;
        padding: .5em;
        /*width: 330px;*/
        background-color: lightblue;
        border: 2px solid black;
        /*width: 100%;*/
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        text-decoration: underline;
        list-style: none;
        background-color: #9f9fa2;
        padding: 0 145px;
    }
    li {
        margin: .35em 0;


    }
    p {
        /*width: 339px;*/
        font-style: italic;
    }
    img {

        width: 100%;
        height: 224px;
    }

}

@media screen and (min-width: 900px ) and (max-width: 991px){
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    div.alert-info {
        display: none;
        visibility: hidden;
    }
    nav {
        width: 80%;
        display: flex;
        flex-direction: row;
       justify-content: flex-end;
        margin: 10px 0;

    }
    li {
        display: inline-block;
        margin: 0 5px;
        /*flex-direction: row;*/
        /*justify-content: flex-end;*/
    }
    img {
        width: 890px;
        height: 385px;
        justify-content: center;
        align-items: center;

    }

}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
}

.sub-section {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 150px;

    /*justify-content: space-between;*/

}
footer {
    width: 200px;
}